<mat-expansion-panel (closed)="stopEditing(false)">
  <mat-expansion-panel-header>
    <mat-panel-title fxLayoutAlign="space-between center">
      <mat-form-field appearance="standard"
                      *ngIf="editingDevice != undefined; else name"
                      (click)="$event.stopPropagation()">
        <input matInput
               placeholder="Name"
               [(ngModel)]="editingDevice.name">
      </mat-form-field>
      <ng-template #name>
        <span>
          {{device.name}}
        </span>
      </ng-template>
      <div>
        <button mat-icon-button *ngIf="!editingDevice" (click)="startEditing(); $event.stopPropagation()">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button *ngIf="editingDevice" (click)="stopEditing(true); $event.stopPropagation()">
          <mat-icon>done</mat-icon>
        </button>
        <button mat-icon-button *ngIf="editingDevice" (click)="stopEditing(false); $event.stopPropagation()">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div fxLayoutAlign="space-between center">
    <mat-form-field appearance="standard"
                    class="edit-description-form-field"
                    *ngIf="editingDevice != undefined; else description"
                    (click)="$event.stopPropagation()">
      <textarea matInput
                placeholder="Beschreibung"
                rows="1"
                [(ngModel)]="editingDevice.description"></textarea>
    </mat-form-field>
    <ng-template #description>
      {{device.description}}
    </ng-template>
    <button (click)="deleteDevice()" mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</mat-expansion-panel>
