<mat-expansion-panel (closed)="toggleEditMode(true)">
  <mat-expansion-panel-header>
    <mat-panel-title fxLayoutAlign="space-between center">
      <mat-form-field *ngIf="editingDevice != undefined; else name" appearance="standard">
        <input (click)="$event.stopPropagation()"
               [(ngModel)]="editingDevice.name"
               matInput
               placeholder="Name">
      </mat-form-field>
      <ng-template #name>
        {{device.name}}
      </ng-template>
      <div>
        <button (click)="toggleEditMode(); $event.stopPropagation()" *ngIf="!editingDevice" mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="toggleEditMode(); $event.stopPropagation()" *ngIf="editingDevice" mat-icon-button>
          <mat-icon>done</mat-icon>
        </button>
        <button (click)="toggleEditMode(true); $event.stopPropagation()" *ngIf="editingDevice" mat-icon-button>
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div fxLayoutAlign="space-between center">
    <mat-form-field *ngIf="editingDevice != undefined; else description" appearance="standard"
                    class="edit-description-form-field">
      <textarea (click)="$event.stopPropagation()"
                [(ngModel)]="editingDevice.description"
                matInput
                placeholder="Beschreibung"
                rows="1"></textarea>
    </mat-form-field>
    <ng-template #description>
      {{device.description}}
    </ng-template>
    <button (click)="deleteDevice()" mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</mat-expansion-panel>
