<div fxFill fxLayoutAlign="center center">
  <mat-card class="login-card" fxLayout="column" fxLayoutAlign="center center">
    <form class="input-wrapper" fxLayout="column" fxLayoutAlign="space-around" (ngSubmit)="login()">
      <mat-form-field appearance="outline">
        <mat-label>Benutzername</mat-label>
        <input autofocus matInput>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Kennwort</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" tabindex="-1">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary" fxFlexAlign="center">
        <mat-icon>login</mat-icon>
      </button>
    </form>
  </mat-card>
</div>
