<div style="resize: both" fxFill fxLayoutAlign="start">
  <app-searchable-list
                       [data]="users"
                       [shownProperty]="nameProperty"
                       (itemClick)="showPlans($event)"></app-searchable-list>
  <mat-divider vertical></mat-divider>
  <div class="plans" fxFlex fxLayoutAlign="start stretch">
    <div *ngFor="let plan of workoutPlans[selectedUser]">
      <div class="plan" fxFlex fxLayout="column" fxLayoutAlign="start center">
        <h1 class="plan-title">
          {{plan.name}}
        </h1>
      </div>
      <mat-divider vertical></mat-divider>
    </div>
  </div>
</div>
