app-searchable-list {
  resize: horizontal;
  width: 20vw;
  min-width: 300px;
}

mat-divider {
  background-color: rgba(0, 0, 0, 0.42);
}

.plans {
  overflow-x: auto;
}

.add-plan {
  width: 450px;
  cursor: pointer;
}

.add-plan:hover {
  background: rgba(0, 0, 0, 0.04);
}
