<div style="resize: both" fxFill fxLayoutAlign="start">
  <app-searchable-list
    [data]="database.users"
    [shownProperty]="nameProperty"
    (itemClick)="selectUser($event)"></app-searchable-list>
  <mat-divider vertical></mat-divider>
  <div class="plans" fxFlex fxLayoutAlign="start stretch">
    <app-plan *ngFor="let plan of database.workoutPlans.get(selectedUser.id)"
              fxLayoutAlign="start stretch"
              [plan]="plan"
              (delete)="deletePlan($event)"
              (editFinished)="editPlan($event)">
    </app-plan>

    <div (click)="addPlan()" matTooltip="Trainingsplan hinzufügen" matTooltipPosition="right">
      <div fxFlex class="add-plan" fxLayoutAlign="center center">
        <mat-icon>add</mat-icon>
      </div>
    </div>
    <mat-divider vertical></mat-divider>
  </div>
</div>
