<div style="resize: both" fxFill fxLayoutAlign="start">
  <app-searchable-list
    [data]="database.users"
    [shownProperty]="nameProperty"
    (itemClick)="showPlans($event)"></app-searchable-list>
  <mat-divider vertical></mat-divider>
  <div class="plans" fxFlex fxLayoutAlign="start stretch">
    <div *ngFor="let plan of database.workoutPlans.get(selectedUser)">
      <div class="plan" fxFlex fxLayout="column" fxLayoutAlign="start stretch">
        <h1 class="plan-title">
          {{plan.name}}
        </h1>
        <mat-accordion>
          <app-exercise *ngFor="let exercise of plan.exercises" [exercise]="exercise"></app-exercise>
        </mat-accordion>
      </div>
      <mat-divider vertical></mat-divider>
    </div>
  </div>
</div>
