<div class="plan" fxLayout="column" fxLayoutAlign="start stretch">
  <mat-expansion-panel #panel (closed)="stopEditing(false)">
    <mat-expansion-panel-header class="plan-header">
      <mat-panel-title class="plan-title" fxLayoutAlign="space-between center">
        <mat-form-field appearance="standard"
                        *ngIf="editingPlan != undefined; else name"
                        (click)="$event.stopPropagation()">
          <input matInput
                 placeholder="Name"
                 matTooltip="Name"
                 [(ngModel)]="editingPlan.name">
        </mat-form-field>
        <ng-template #name>
        <span>
          {{plan.name}}
        </span>
        </ng-template>
        <div>
          <button mat-icon-button *ngIf="!editingPlan" (click)="startEditing(); $event.stopPropagation()"
                  matTooltip="Trainingsplan bearbeiten">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button *ngIf="editingPlan" (click)="stopEditing(true); $event.stopPropagation()"
                  matTooltip="Speichern">
            <mat-icon>done</mat-icon>
          </button>
          <button mat-icon-button *ngIf="editingPlan" (click)="stopEditing(false); $event.stopPropagation()"
                  matTooltip="Abbrechen">
            <mat-icon>clear</mat-icon>
          </button>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div fxLayout="column" fxLayoutAlign="start stretch">
      <div fxLayout="row" fxLayoutAlign="end center">
        <button (click)="deletePlan()" mat-icon-button matTooltip="Trainingsplan löschen">
          <mat-icon>delete</mat-icon>
        </button>
      </div>

      <mat-form-field appearance="standard"
                      *ngIf="editingPlan != undefined; else description"
                      (click)="$event.stopPropagation()">
        <textarea matInput
                  placeholder="Beschreibung"
                  matTooltip="Beschreibung"
                  rows="4"
                  [(ngModel)]="editingPlan.description"></textarea>
      </mat-form-field>
      <ng-template #description>
        {{plan.description}}
      </ng-template>
    </div>
  </mat-expansion-panel>

  <mat-accordion multi displayMode="flat">
    <app-exercise *ngFor="let exercise of plan.exercises"
                  [exercise]="exercise"
                  (delete)="deleteExercise($event)"
                  (editFinished)="editExercise($event)"></app-exercise>
    <mat-expansion-panel #addExercisePanel hideToggle (opened)="addExercise()" matTooltip="Übung hinzufügen">
      <mat-expansion-panel-header>
        <mat-panel-title fxLayoutAlign="center center">
          <mat-icon>add</mat-icon>
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<mat-divider vertical></mat-divider>
