<mat-toolbar>
  <a routerLink="/" class="logo-button">
    <img src="favicon.ico" alt="logo" class="logo-image">
  </a>
  <span fxLayout="row" fxLayoutAlign="space-around" class="navigation">
    <span routerLink="workoutplans" class="navigation-item">Trainingspläne</span>
    <span routerLink="equipment" class="navigation-item">Geräteverwaltung</span>
  </span>
  <span fxFlex="1 1 auto"></span>
  <button routerLink="login" mat-icon-button>
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
