.logo-button {
  width: fit-content;
}

.logo-image {
  height: 100%;
}

.navigation {
  margin-left: 100px;
}

.navigation-item {
  padding: 0 15px;
  cursor: pointer;
}

.navbar-spacer {
  flex: 1 1 auto;
}
