<div fxFill fxLayoutAlign="center center">
  <mat-card class="equipment-card" fxLayout="column" fxLayoutAlign="start stretch">
    <mat-form-field appearance="fill">
      <input matInput
             placeholder="Suche"
             [(ngModel)]="filterText"
             (input)="filterAndSortDevices()">
      <button mat-icon-button
              matSuffix
              (click)="addNewDevice()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-form-field>
    <mat-accordion fxFlex>
      <app-device *ngIf="newDevice != undefined"
                  [device]="newDevice"
                  [editOpen]="true"
                  (delete)="newDeviceFinished(undefined)"
                  (editFinished)="newDeviceFinished($event)"></app-device>
      <app-device *ngFor="let device of shownDevices"
                  [device]="device"
                  (delete)="database.deleteDevice($event)"
                  (editFinished)="editDevice($event)"></app-device>
    </mat-accordion>
  </mat-card>
</div>
