<div style="resize: both" fxFill fxLayoutAlign="start">
  <app-searchable-list
    [data]="database.users"
    [shownProperty]="nameProperty"
    (itemClick)="selectUser($event)"></app-searchable-list>
  <mat-divider vertical></mat-divider>
  <div class="plans" fxFlex fxLayoutAlign="start stretch">
    <div *ngFor="let plan of shownPlans" fxLayoutAlign="start stretch">
      <div *ngFor="let workout of database.workouts.get(plan.id)">
        <div fxFlex class="workout" fxLayout="column" fxLayoutAlign="start stretch">
          <h1 class="workout-title">
            {{workout.date}}
          </h1>
          <div fxFlex fxLayout="column" fxLayoutAlign="start stretch">
            <div mat-ripple
                 class="exercise"
                 *ngFor="let exercise of plan.exercises"
                 (click)="showWorkoutDetail(workout, exercise)"
                 fxLayout="column"
                 fxLayoutAlign="start">
              <div class="exercise-title" fxLayoutAlign="space-between">
                <h2>
                  {{exercise.deviceGroup.name}}
                </h2>
                <h3>
                  {{workout.startTime }} - {{workout.endTime}}
                </h3>
              </div>
              <div class="set" *ngFor="let set of exercise.exerciseSets">
                <span class="repetitions">{{set.repetitions}}x</span>{{set.description}}
              </div>
            </div>
          </div>
        </div>
        <mat-divider vertical></mat-divider>
      </div>
    </div>
  </div>
</div>
