<div fxFlex fxLayout="column" fxLayoutAlign="start stretch">
  <mat-form-field appearance="standard">
    <input matInput
           placeholder="Suche"
           [(ngModel)]="filterText"
           (input)="updateShownData()">
  </mat-form-field>
  <mat-accordion fxFlex>
    <mat-expansion-panel *ngFor="let d of shownData; let i = index"
                         hideToggle
                         (opened)="onItemOpen(d, i)">
      <mat-expansion-panel-header [ngClass]="{'itemSelected': selectedIndex == i}">
        {{shownProperty(d)}}
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
</div>
