.mat-expansion-panel {
  border-radius: 0 !important;
}

.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.mat-expansion-panel-header {
  height: 48px;
}

.edit-workoutset-repetitions {
  width: 50px;
  padding-right: 10px;
}

.edit-workoutset-description {
  width: 100px;
}
